.header__link {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 7px;
  float: right;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .2s linear;
}

@media (max-width: 530px) {
  .header__link {
    display: block;
    text-align: center;
    margin-top: 30px;
    padding: 0;
    grid-area: button;
  }
}