.element__trash {
  width: 18px;
  height: 19.3px;
  background: none;
  background-image: url(../../../images/trash-button.svg);
  border-style: none;
  outline: none;
  position: absolute;
  top: 18px;
  right: 15px;
  z-index: 0;
}
.element__trash:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .2s linear;
}